$primary-color: #083c40;

$accent-color: #3d575b;

$text-color: white;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$accent-color-2: #6b898b;

$standard-border: 4px solid #1f8389;