@import "./resets";
@import "./variables";
// @import "./Backgroundstyle.scss";
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	min-height: 100vh;
	background: #000;
	overflow: hidden;
}
.container
{
	position: relative;
	height: 100vh;
	overflow: hidden;
	z-index: 2;
}
.row
{
	display: inline-flex;
	margin-top: -63px;
	margin-left: -125px;
}
.row:nth-child(even)
{
	margin-left: 1px;
}
.hexagon
{
	position: relative;
	width: 250px;
	height: 260px;
	background: #111;
	margin: 2px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: 2s;
}
.hexagon:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	pointer-events: none;
	background: rgba(255,255,255,0.02);
	z-index: 1000;
}
#cursor
{
	position: absolute;
	top: 0;
	left: 0;
	width: 400px;
	height: 400px;
	background: #0f0;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	animation: animate 4s linear infinite;
	z-index: 1;
}
@keyframes animate
{
	0%
	{
		filter: hue-rotate(0deg) blur(50px);
	}
	100%
	{
		filter: hue-rotate(360deg) blur(50px);
	}
}



// #scrollPath {
//   position: absolute;
//   height:5px;
//   width: 1000px;
//   left: 500px;
//   top: -10px;
//   background: $primary-color;
//   transform:rotate(20deg);
//   transform-origin:left;
//   animation:grow 1.5s linear forwards;
// }

// #scrollPath2 {
//   position: absolute;
//   height:5px;
//   width: 1000px;
//   left: 1400px;
//   top: -10px;
//   background: $primary-color;
//   transform:rotate(160deg);
//   transform-origin:left;
//   animation:grow 1.5s linear forwards;
// }

// #scrollPath3 {
//   position: absolute;
//   height:5px;
//   width: 500px;
//   left: 460px;
//   top: 331px;
//   background: $primary-color;
//   transform:rotate(20deg);
//   transform-origin:left;
//   animation:grow 1.5s linear forwards;
// }

// #scrollPath4 {
//   position: absolute;
//   height:5px;
//   width: 500px;
//   left: 1440px;
//   top: 331px;
//   background: $primary-color;
//   transform:rotate(160deg);
//   transform-origin:left;
//   animation:grow 1.5s linear forwards;
// }

// #scrollPath5 {
//   position: absolute;
//   height:5px;
//   width: 50px;
//   left: 950px;
//   top: 550px;
//   background: $primary-color;
//   transform:rotate(90deg);
//   transform-origin:left;
//   animation:grow 1.5s linear forwards;
// }

// // #about {
// //   position: absolute;
// //   background: $accent-color;
// //   width: 800px;
// //   height: 500px;
// //   left: 550px;
// //   top: 600px;
// // }

// #portfolio {
//   position: absolute;
//   background: $accent-color;
//   width: 800px;
//   height: 500px;
//   left: 550px;
//   top: 1400px;
// }

// #scrollPath6 {
//   position: absolute;
//   height:5px;
//   width: 200px;
//   left: 950px;
//   top: 1100px;
//   background: $primary-color;
//   transform:rotate(90deg);
//   transform-origin:left;
//   animation:grow 1.5s linear forwards;
// }