@import "./resets";
@import "./variables";
// @import "./Backgroundstyle.scss";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: #000;
    overflow: hidden;
}

main {
    flex-wrap: wrap;
}

//Background
.container {
    position: relative;
    height: 100vh;
    z-index: 2;
}
.row {
    display: inline-flex;
    margin-top: -63px;
    margin-left: -125px;
}
.row:nth-child(even) {
    margin-left: 1px;
}
.hexagon {
    position: relative;
    width: 250px;
    height: 260px;
    background: rgb(0, 0, 0);
    margin: 2px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: 1s;
}
.hexagon:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    pointer-events: none;
    background: black;
    z-index: 3;
}

//cursor
#cursor {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: #0f0;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: animate 3s linear infinite;
    z-index: 1;
}
@keyframes animate {
    0% {
        filter: hue-rotate(0deg) blur(50px);
    }
    100% {
        filter: hue-rotate(360deg) blur(50px);
    }
}

//about
#about {
	position: absolute;
	padding: 10%;
	top: 28%;
	left: 35%;
	// background: blanchedalmond;
	color: black;
	margin: 2px;
    // transition: 1s;
	z-index: 3;
}

#about:hover {
	color: $text-color;
	margin: 2px;
    transition: 1s;
	z-index: 3;
}

//hidden about
.clicker {
	width:300px;
	height:100px;
	outline:none;
	cursor:pointer;
	font-size: 20px;
	}
	
	.hiddendiv{
	display:none;
	height:500px;
	width: 1000px;
	margin-left: -355px;
	background-color: $primary-color;
	}
	
	.clicker:focus + .hiddendiv{
	display:block;
	transition: 0.2s;
	animation: open 0.5s linear;
	}

	@keyframes open {
		0% {
			height: 0;
		}
		100% {
			height: 500px;;
			width: 1000px;
		}
	}
// #portfolio {
//   position: absolute;
//   background: $accent-color;
//   width: 800px;
//   height: 500px;
//   left: 550px;
//   top: 1400px;
// }
