$primary-color: #6b3dac;

$accent-color: #bb92f5;

$text-color: white;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$translucent-white: rgba(255,255,255,0.3);

$icon-square-length: 300px;

$standard-border: 4px solid black;