$blue :rgb(97, 135, 216);
$green: rgb(128, 179, 128);
$font-family: 'Lobster', cursive;
$grey: rgb(101, 103, 114);
$bannerHeading: 60px;

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

$sectionHeading: 20px;
